body {
	font-family: Futura;
	font-size: 15px;
}

h3, h5 {
	color: #FF9800;
	text-shadow: 2px 2px #CFD8DC;
	font-weight: bold;
}

#logo {
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#jobtitle {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.splash {
	text-align: center;
	height: 100vh;
	width: 100vw;
	background-color: #455A64;
	color: #CFD8DC;
}

#view {
	height: 100vh;
	width: 100vh;
}

.visitedlink {
	color: black;
	text-decoration: none;
}

.visitedlink:hover {
	color: #7f8c8d;
}

.line {
	width: 68%;
}

.footer {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}

#contactinfo {
	text-align: center;
	margin-bottom: 100px;
}

#envelope {
	padding-right: 20px;
}

#github {
	padding-right: 20px;
}

/* PROJECTS */
.project {
	text-align: center;
	background-color: #607D8B;
}

.title {
	padding: 4%;
	font-size: 5em;
	color: #FFFFFF;
}

.top-left {
	background-color: #B6B6B6;
}

.bottom-right {
	background-color: #B6B6B6;
}

.bottom-left {
	background-color: #B6B6B6;
}

.lower {
	margin-top:-20px;
}

.flats {
	width: 100%;
}

#block2, #block3, #block6 {
	padding: 10px 30px;
}

a {
	font-weight: bold;
	font-size: 1.3em;
	color: #607D8B;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;;
}

/*Homepage media queries*/
@media 
only screen and (max-width: 1078px),
only screen and (max-device-width: 920px)

{
	
	.title {
		font-size: 3em;
	}

	#block1, #block2, #block3, #block4, #block5, #block6, #block7, #block8 {
		float: none !important;
		width: 100vw !important;
	}
	
}